<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Prediction Page</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}"
    />
  </head>
  <body>
    <header>
      <h1>Fire Weather Index Prediction</h1>
    </header>
    <main>
      <form action="{{ url_for('predict_datapoint') }}" method="POST">
        <label for="Temperature">Temperature:</label>
        <input type="text" name="Temperature" id="Temperature" required /><br />

        <label for="RH">Relative Humidity:</label>
        <input type="text" name="RH" id="RH" required /><br />

        <label for="Ws">Wind Speed:</label>
        <input type="text" name="Ws" id="Ws" required /><br />

        <label for="Rain">Rainfall:</label>
        <input type="text" name="Rain" id="Rain" required /><br />

        <label for="FFMC">FFMC:</label>
        <input type="text" name="FFMC" id="FFMC" required /><br />

        <label for="DMC">DMC:</label>
        <input type="text" name="DMC" id="DMC" required /><br />

        <label for="ISI">ISI:</label>
        <input type="text" name="ISI" id="ISI" required /><br />

        <label for="Classes">Classes:</label>
        <input type="text" name="Classes" id="Classes" required /><br />

        <label for="Region">Region:</label>
        <input type="text" name="Region" id="Region" required /><br />

        <button type="submit" class="btn">Predict FWI</button>
      </form>

      {% if result %}
      <h2>Prediction Result: {{ result }}</h2>
      {% endif %}
    </main>
  </body>
</html>
