<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BlazeBuster</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <header>
      <div class="hero">
        <div class="hero-text">
          <h1>Welcome to BlazeBuster</h1>
          <p>Accurate Fire Weather Index Predictions for Algerian Forests</p>
          <p>
            BlazeBuster is an advanced fire prediction system designed to help
            you forecast the Fire Weather Index (FWI) accurately. By analyzing
            various environmental factors, our tool provides critical insights
            to help mitigate fire risks and enhance safety measures.
          </p>
        </div>
      </div>
    </header>
    <main>
      <section id="about" class="about">
        <h2>About Algerian Forest Fires</h2>
        <p>
          Algerian forests face significant risks from wildfires, especially
          during the hot summer months. These fires have devastating impacts on
          ecosystems and local communities. BlazeBuster uses machine learning
          models to predict the Fire Weather Index (FWI), providing timely
          forecasts to help manage fire risks and protect lives.
        </p>
      </section>

      <div class="cta-container">
        <a href="{{ url_for('home') }}" class="cta-btn"
          >Go to Prediction Model</a
        >
      </div>
    </main>

    <footer>
      <p>&copy; 2024 BlazeBuster. All rights reserved.</p>
    </footer>
  </body>
</html>
