<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Fire Weather Index Forecaster</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <header>
      <div class="header-content">
        <button id="toggle-nav" class="nav-toggle">☰</button>
        <h1>Fire Weather Index Forecaster</h1>
        <nav id="navbar">
          <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#how-it-works">How it Works</a></li>
            <li><a href="#Tech-Stack-Used">Technologies</a></li>
          </ul>
        </nav>
      </div>
    </header>

    <main>
      <section class="hero">
        <div class="hero-image">
          <img
            src="{{ url_for('static', filename='phoneImage.png') }}"
            alt="Blaze Buster App"
          />
        </div>
        <div class="hero-content">
          <h2>Accurate Fire Weather Index Predictions for Algerian Forests</h2>
          <p>
            BlazeBuster is an advanced fire prediction system designed to help
            you forecast the Fire Weather Index (FWI) accurately.
          </p>
          <a href="{{ url_for('home') }}" class="cta"
            >Try The Prediction Model..</a
          >
        </div>
      </section>

      <section class="about" id="how-it-works">
        <div class="about-text">
          <h2>How It Works</h2>
          <p>
            By analyzing various environmental factors, our tool provides
            critical insights to help mitigate fire risks and enhance safety
            measures.
          </p>
        </div>
        <div class="about-image">
          <img
            src="{{ url_for('static', filename='graphImage.png') }}"
            alt="Fire Weather Index Dashboard"
          />
        </div>
      </section>

      <section class="TechStack" id="Tech-Stack-Used">
        <div class="TechStack">
          <h2>Technologies Used</h2>
          <p>I have built BlazeBuster using the following technologies:</p>
          <ul>
            <li>Python (for Machine Learning and Backend)</li>
            <li>Flask (for the web framework)</li>
            <li>HTML, CSS, and JavaScript (for frontend design)</li>
            <li>MySQL (for database management)</li>
            <li>TensorFlow (for AI/ML algorithms)</li>
            <li>Docker (for containerization)</li>
            <li>Heroku (for deployment)</li>
          </ul>
        </div>
      </section>
    </main>

    <footer>
      <div class="footer-content">
        <p>&copy; 2023 Fire Weather Index Forecaster</p>
        <nav>
          <ul>
            <li><a href="#">Privacy Policy</a></li>
            <li><a href="#">Terms of Service</a></li>
            <li><a href="#">Contact Us</a></li>
          </ul>
        </nav>
      </div>
    </footer>

    <button class="scroll-to-top" onclick="scrollToTop()">&#8593;</button>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
  </body>
</html>
